body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
  }

  #memory-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
  }

  .card {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    font-size: 18px;
    cursor: pointer;
  }

  .card:hover {
    background-color: #007e11;
    }


    .flipped{
        background-color: #007e11;
    }