.container {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: row;

    background-image: url("../assets/fond_acc_hiver.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 20%;


    .canva {
        height: 100%;
        width: 100%;
        border: 1px solid blue;
    }

}