body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4; /* Optional: Adds a background color to the body */
}

#memory-board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 30px;
}

.card {
  width: 120px;
  height: 200px;
  cursor: pointer;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Card shadow for depth */
  position: relative; /* For positioning the front and back of the card */
}

/* Styling for the front and back of the card */
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px; /* Rounded corners */
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden; /* Important for 3D flipping */
}

.card-front {
  background-color: #eee;
  font-size: 18px;
}

.card-back {
  background-color: #007e11;
  color: white;
  font-size: 18px;
  transform: rotateY(180deg); /* Initial position for the back */
}
