.container {
    background-image: url(../assets/fondHiver.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    h1 {
        padding: 0;
        margin: 0;
    }

    .sectionContainer {
        display: flex;
        flex-direction: column;
        gap: 60px;
        max-height: calc(100vh - 300px);
        max-width: 60%;
        overflow-y: auto;
        padding-right: 20px;
    }

    & > div {
        display: flex;
        gap: 1vw;

        & > div {
            h2 {
                margin: 0;
                padding: 0;
            }

            p {
                margin: 0;
                padding: 0;
            }
        }
    }
    button,
    input[type="submit"],
    input[type="reset"] {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }
}
