<<<<<<< HEAD
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;





  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}
=======
>>>>>>> ee17d7c0c3c85b718e698e48f39052c2e670b284
